body{
	background-color: #043148!important;
}
.white{
	color: white;
}
@media only screen and (max-width: 768px) {
	#header_task_bar{
		display: none;
	}
	#header_task_bar_2{
		display: block;
	}
	#header_task_bar_2 > a > i {
		color: gray;
	}
	.body-login > .container-form{
		width: 40%;
		position: absolute;
		padding: 4%;
		padding-top: 9%;
		right: 0px;
		left: 0px;
		top: 22%;
		margin: auto;
		text-align: center;
	}
}
@media only screen and (max-width: 432px) {
	.body-login > .container-form{
		width: 70%;
	}
}
@media (max-width: 768px) and (orientation:landscape) {
	.body-login > .container-form {
		width: 28%;
		position: absolute;
		padding: 2%;
		right: 0px;
		left: 0px;
		top: 3%;
		margin: auto;
		text-align: center;
	}
}
@media only screen and (max-width: 760px){
	.body-login > .container-form{

	}
}
/
/*Chrome prefill*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.upper {
	text-transform: uppercase !important;
}
.lower {
	text-transform: lowercase !important;
}

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: fill;
}