html{
	font-family: 'Roboto', sans-serif;
	margin-right: 0;
	padding: 0;
}
body {
	text-align: center!important;
	margin-right: 0;
	padding: 20mm;
	border-color: coral!important;
	/*width: 700px;
	margin-top:20mm;*/
}
h5,
/*p{
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}*/

h3{
	padding: 0px;
	margin-bottom: 0px;
}
.start{
	padding-top: 150mm;
}
.break{
    display: block;
}
.bold{
	font-weight: bold;
}
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0px;
}
.justify{
	text-align: justify!important;
}
.center{
	text-align: center!important;
}
.title{
	color: #006064;
}
.subtitle{
	color: #004d40;
}

.rf-laboratory{
    display: inline-block;
    width: 210px;
    height: 75px;
    margin: 10px;
    border-bottom: 3px solid gray;
}

.Shield-Box,
.RF-Test-Agilent,
.RF-Test-CMW,
.RF-Test-CMU{
    display: inline-block;
    width: 220px;
    height: 40px;
    margin: 5px;
    border-bottom: 3px solid gray;
}

.Link-DMS{
	display: inline-block;
    width: 700px;
    height: 80px;
    border-bottom: 3px solid gray;	
}

.container{
	width: 600px;
}

.fixed-top-left{
	position:fixed; 
}

.fixed-top-right {
	position: fixed;
}
img.logo {
	opacity: 0.5;
	/*width: 30mm;
	height: 15mm;*/
}
/*.header-info {
	margin-right: 12mm;
	text-align: right;
	font-size: 12px!important;
}*/
#header{
	height: 70px;
}